<html>
<head>
    {% load static %}
    <title>A Leaflet map!</title>
    <link rel="stylesheet" href="{% static '/leaflet/css/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static '/leaflet/css/MarkerCluster.css' %}" />
    <link rel="stylesheet" href="{% static '/leaflet/css/MarkerCluster.Default.css' %}" />
    <link rel="stylesheet" href="{% static '/openlayers/ol.css' %}" />


    <script src="{% static '/leaflet/js/leaflet.js' %}"></script>   
    <script src="{% static '/jquery-3.5.1.js' %}"></script>
    <script src="{% static '/leaflet/js/leaflet.markercluster.js' %}"></script>
    <script src="{% static '/openlayers/ol.js' %}"></script>

    <style>
        #map{ height: 100% }
    </style>
</head>
<body>

    <div id="map"></div>

    <script>

        // initialize the map
        var map = L.map('map').setView([48.866667, 2.333333], 13);

        // load a tile layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
            attribution: 'Tiles by <a href="http://mapc.org">MAPC</a>, Data by <a href="http://mass.gov/mgis">MassGIS</a>',
            maxZoom: 17,
            minZoom: 2
        }).addTo(map);

        // load GeoJSON from an external file
        var petrolIcon = L.icon({
                iconUrl: "{% static '/station_icon.png' %}",
                //shadowUrl: 'icon-shadow.png',
                iconSize:     [44, 44], // taille de l'icone
                //shadowSize:   [50, 64], // taille de l'ombre
                iconAnchor:   [22, 44], // point de l'icone qui correspondra à la position du marker
                //shadowAnchor: [32, 64],  // idem pour l'ombre
                popupAnchor:  [0, -44] // point depuis lequel la popup doit s'ouvrir relativement à l'iconAnchor
            });

        var markersCluster = new L.MarkerClusterGroup();
        var dataurl = '{% url "map" %}';

        $.getJSON(dataurl, function(data) {
        data['features'].forEach(feature => {
            var latLng = new L.LatLng(feature.geometry.coordinates[1], feature.geometry.coordinates[0]);//LatLon
            var marker = new L.Marker(latLng, {title: feature.properties.id, icon: petrolIcon});
            marker.bindPopup(feature.properties.id);

            markersCluster.addLayer(marker);
            });
        });

        map.addLayer(markersCluster);
 
    </script>
</body>
</html>