{% load static %}
{% static "" as baseUrl %}
{% load filters %}


<div class="container-fluid" style="color: black">
    <div class="row">
        <div class="py-2">
            <div class="container-fluid">
                <div class="row">
                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                        {{ station_infos.properties.adresse }} {{station_infos.properties.ville }}
                    </span>
                </div>
                <div class="row">
                    <span>
                        <i class="fas fa-gas-pump"></i>
                        Automate 24h/24
                        {% if station_infos.properties|get_automate %}
                            <i class="fas fa-check-circle"></i>
                        {% else %}
                            <i class="fas fa-times"></i>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="table-responsive justify-content-center text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        {% for jour in jours %}
                            <th scope="col">{{ jour }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Ouverture</th>
                        {% for jour in jours %}
                            {% if station_infos.properties.horaires|get_ferme:jour %}
                                <td>
                                    <div class="badge badge-danger text-center">Fermé</div>
                                </td>
                            {% elif station_infos.properties|get_automate and not station_infos.properties.horaires|get_infos_available:jour%}
                                <td>
                                    <div class="badge badge-success text-center">24h/24</div>
                                </td>
                            {% elif not station_infos.properties.horaires|get_infos_available:jour %}
                                <td>
                                    <div class="badge badge-warning text-center">Indisponible</div>
                                </td>
                            {% else %}
                                <td>{{ station_infos.properties.horaires|get_ouverture:jour }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Fermeture</th>
                        {% for jour in jours %}
                            {% if station_infos.properties.horaires|get_ferme:jour %}
                                <td>
                                    <div class="badge badge-danger text-center">Fermé</div>
                                </td>
                            {% elif station_infos.properties|get_automate and not station_infos.properties.horaires|get_infos_available:jour%}
                                <td>
                                    <div class="badge badge-success text-center">24h/24</div>
                                </td>
                            {% elif not station_infos.properties.horaires|get_infos_available:jour %}
                                <td>
                                    <div class="badge badge-warning text-center">Indisponible</div>
                                </td>
                            {% else %}
                                <td>{{ station_infos.properties.horaires|get_fermeture:jour }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>