{% load static %}
{% static "" as baseUrl %}

{% if error %}
	<tr>
		<td>
			<div class="alert alert-warning" role="alert" style="width: 70%; left:50%; margin-left:-35%; position:fixed;">Zoomez pour afficher les stations disponibles</div>
		</td>
	</tr>

{% else %}
	{% for station in stations %}
	<tr>
		<td class="fit" style='color: white; border:none'>
			<div class="card container-fluid" style="color: black">
				<div class="row">
					<div class="col-3 col-md-2 d-flex justify-content-center station-img">
						<img  class="img-responsive img-thumbnail img-fluid" style="max-width: 66px; max-height: 66px;" src="{{ baseUrl }}img/{{ station.properties.img }}.png"></img>
					</div>
					<div class="col-4 col-md-4 d-flex justify-content-center">
						<div class="station-name text-wrap my-auto">
								{% if station.properties.img == "independant" %}
									<h3>Station service</h3>
								{% else %}
									<h3>{{ station.properties.name }}</h3>
								{% endif %}

								{% if station.properties.pop == "A" %}
									<img style="width:25px; height:25px;" src="{{ baseUrl }}img/autoroute32.png"></img>
								{% endif %}

								<h5>{{ station.properties.adresse }} <br> {{ station.properties.ville}} </h5>
						</div><!-- /card-->
					</div>
					<div class="col-3 col-md-4 px-auto d-flex table-responsive justify-content-center flip-scroll">
						<table class="table ">
							{% for prix in station.properties.prix %}
								<tr>
								{% for key, value in prix.items %}
									{% if key == '@nom' %}
										<td>
											{{ value }}
										</td>
									{% elif key == '@valeur' %}
										<td>
											{{ value }}
										</td>
									{% endif %}
								{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
					<div class="col-2 col-md-2 d-flex justify-content-center">
						<div class="container my-auto">
							<div class="row justify-content-center my-auto">
								{% if station.properties.isopened is not None %}
									{% if station.properties.isopened %}
										<div class="badge badge-success">Ouvert</div>
									{% else %}
										<div class="badge badge-danger">Fermé</div>
									{% endif %}
								{% endif %}
							</div>
							<div class="row justify-content-center my-auto pt-2">
								<button type="button" data-toggle="modal" data-target="#stationModal" value="{{station.properties.name}},{{station.properties.id}},{{station.properties.img}}" class="btn btn-sm btn-secondary btn-responsive btn-table-infos">Plus<br>d'infos</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</td>
	</tr>
	{% endfor %}

	{% if len_stations == 0 %}
		<tr></tr>
	{% endif %}
{% endif %}

<script>
	$('.btn-table-infos').click(function(e){
		var value = e.target.value.split(',');
		var name = value[0],
			id = value[1],
			img = value[2];

		if(img == 'independant'){
			document.getElementById('stationModalTitle').innerHTML = 'Station service';
		}
		else{
			document.getElementById('stationModalTitle').innerHTML = name;
		}

		$("#img-modal-input").attr("value", img);
		$('#station-modal-body').html('').load('/station/'+'?station_id='+id);

	})
</script>